<ion-card>
  <div class="header ion-padding">
    <div class="title">
      <ion-text class="song-title">{{ audio.title }}</ion-text>
      -
      <ion-text class="song-author">{{ audio.author }}</ion-text>
    </div>
    <ion-button class="pause-btn main">
      <ion-icon
        slot="icon-only"
        name="play"
        color="secondary"
        *ngIf="!playing"
      ></ion-icon>
      <ion-icon
        slot="icon-only"
        name="pause"
        color="secondary"
        *ngIf="playing"
      ></ion-icon>
    </ion-button>
  </div>
</ion-card>
